@model WebLuanVan_ASP.NET_MVC.Areas.Admin.Models.CQuestionType

@{
    ViewData["Title"] = "formSuaQuestionType";
    Layout = "~/Areas/Admin/Views/Shared/_LayoutAdmin.cshtml";
}

<h1>Sửa loại câu hỏi</h1>


<hr />
<div class="row">
    <div class="col-md-6">
        <form asp-action="SuaQuestionType" asp-route-id="@Model.QuestionTypeId">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
               
                <input asp-for="QuestionTypeId" class="form-control" readonly="readonly" type="hidden" />
                <span asp-validation-for="QuestionTypeId" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeName" class="control-label"></label>
                <input asp-for="TypeName" class="form-control" />
                <span asp-validation-for="TypeName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="TypeDescription" class="control-label"></label>
                <textarea asp-for="TypeDescription" id="summernote-content" class="form-control"></textarea></textarea>
                <span asp-validation-for="TypeDescription" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Save" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div class="d-flex justify-content-between">
    <a asp-action="Index" class="btn btn-outline-secondary">
        <i class="fas fa-arrow-left me-2"></i>Back to List
    </a>
</div>